#canvas{
	background-color: #2c2f36;
}
.btn{
	border: 1px solid #000;
	color: #000;
	padding: 3px;
	border-radius: 5px;
	text-decoration: none;
	background-color: #F5F5F5;
}
#delate_btn{
	margin-top: 20px;
}
.container_img{
	margin-top: 20px;
}
.container_img > img{
	width: 200px;
	height: 180px;

}